.regular_form_info{
    background: rgba(255, 150, 27, 0.1);
    border-radius: 8px;
    margin: 46px 123px 73px 123px;
    height: auto;
    padding-bottom: 30px;
}
.regular_form_info p.title{
    padding: 30px 35px 0px 35px;
    font-weight: 700;
    font-size: 16px;
}

.regular_form_info span{

    padding: 10px 35px 0px 35px;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 170%;
}
.form_wrap{
    margin: 46px 123px 73px 123px;   
}
.form_title{
    font-weight: 700;
font-size: 24px;
line-height: 35px;
    padding-bottom: 26px;
    border-bottom: 2.5px solid #585757;;
}


.form_list {
    width: 100%;
}

.form_list > form > div > div {
    padding: 15px 0;
    font-size: 18px;
    display: flex;
}
.form_list > form > div > div > span.title{
    width: 13%;
    font-weight: 700;
}
.form_list > form > div > div > span.body{
    width: 70%;
}

.regular_btn_box{
    text-align: center;
    justify-content: center;

}
.regular_btn{
    margin: 10px;
    display: inline-block;
    background: #DF633B;
    padding: 12px 76px;
    text-align: center;
    border: 1px solid #DF633B;
    border-radius: 8px;
    font-size: 1em;
    color: white;

}

.regular_btn:hover{
    color: #DF633B;
    background: white;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #CBCBCB;
    border-radius: 5px;
    font-size: 16px;
    resize: both;
}


input[type='radio'] {
    -webkit-appearance:none;
    width:17px;
    height:17px;
    /* [라디오 버튼 테두리 색상 정의] */
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    /* [라디오 버튼 배경 색상 정의] */
}
input[type='radio']:before {
    /* [content null 설정해서 커스텀 지정] */
    content:'';
    display:block;
    width:70%;
    height:70%;
    margin: 15% auto;
    border-radius:50%;  
}
input[type='radio']:checked:before {
    /* [라디오 버튼이 클릭 되었을 경우 내부 원형 색상] */
    border:1px solid darkgray;
    background:#DF633B;
    border: 1px solid #DF633B;
}

.form_box{
    padding-left: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    border: 1.2px solid #CBCBCB;
    border-radius: 5px;
    width: 220px;
}


/* 모바일화면 */
@media (max-width: 768px) {
    .regular_form_info{
        background: rgba(255, 150, 27, 0.1);
        border-radius: 8px;
        margin: 10px 25px 10px 25px;
        padding: 10px 10px;
    }
    .regular_form_info p.title{
        padding: 10px 10px 0px 20px;
        font-weight: 700;
        font-size: 13px;
    }
    
    .regular_form_info span{
        padding: 0px;
        font-weight: 500;
        font-size: 10px;
        padding-bottom: 10px;
    }
    .form_wrap{
        margin: 20px 25px 73px 25px;   
    }
    .form_title{
        font-weight: 700;
    font-size: 20px;
    line-height: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid #585757;;
    }
    
    
    .form_list {
        width: 100%;
    }
    
    .form_list > form > div > div {
        padding: 10px 0;
        font-size: 12px;
        display: flex;
    }
    .form_list > form > div > div > span.title{
        width: 25%;
        font-weight: 700;
    }
    .form_list > form > div > div > span.body{
        width: 75%;
    }


.regular_btn_box{
    text-align: center;
}
.regular_btn{
    display: inline-block;
    background: #DF633B;
    padding: 7px 40px;
    border: 1px solid #DF633B;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    color: white;
}
.mo{
    text-align: center;
    width: 20%;
}
.form_box{
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    height: 30px;
    border: 1.2px solid #CBCBCB;
    border-radius: 5px;
    width: 150px;
}
    }