.regular_info{
    background: rgba(255, 150, 27, 0.1);
    border-radius: 8px;
    margin: 46px 123px 73px 123px;
    height: 84px;
}
.regular_info p{
    padding: 30px 35px;
    font-weight: 700;
}

.board_list_wrap{
    margin: 46px 123px 73px 123px;
}
.board_list {
    width: 100%;
}

.board_list > div {
    border-bottom: 1.5px solid #E8E8E8;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1.5px solid #585757;
}

.board_list > div:last-child {

    border-bottom: 1.5px solid #E8E8E8;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}
.board_list > div.body > div.title > a {
    color : #333333;
}

.board_list .num {
    width: 10%;
}


.board_list .title {
    width: 55%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}
.board_list .status{
    width: 25%;
}

.board_list .date {
    width: 10%;
}

/* 보드페이지 */
.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 8px;
    color: #666666;
    border: 1.5px solid #666666;
    line-height: 100%;
    margin: 0px 5px;
    font-weight: 700;
}

.board_page a.bt {
    padding-top: 12px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 0.7rem;
    font-size: 1.2rem;
    
}

.board_page a.num.on {
    border-color: #666666;
    background: #666666;
    color: #fff;
}

    .board_list .title {
        width: 43%;
        text-align: left;
    }
    
    .board_list .status{
        width: 20%;
    }
    
    .board_list .date {
        width: 20%;
    }


/* tablet */
@media  (max-width: 1200px) {
    
.board_list_wrap{
    margin: 46px 113px 73px 113px;
}

.board_list > div > div {
    display: inline-block;
    text-align: center;
    font-size: 0.8rem;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 40%;
    text-align: left;
}

.board_list .status{
    width: 23%;
}

.board_list .date {
    width: 27%;
}

.board_page a {
    width: 30px;
    height: 30px;
}

.board_page a.bt {
    padding-top: 5px;
    font-size: 1rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 0.3rem;
    font-size: 1rem;
    
}

}

@media  (max-width: 768px) {

    .regular_info{
        background: rgba(255, 150, 27, 0.1);
        border-radius: 8px;
        margin: 23px 43px 22px 43px;
        height: 43px;
    }
    .regular_info p{
        font-size: 11.4px;
        padding: 12px 30px 12px 20px;
        font-weight: 700;
    }
    
    
    .board_list_wrap{
        margin: 33px 23px 0px 23px;
    }
    
    .board_list > div > div {
        display: inline-block;
        text-align: center;
        font-size: 0.65rem;
    }
    
    .board_list .num {
        width: 7%;
    }
    
    .board_list .title {
        width: 53%;
        text-align: left;
    }
    
    .board_list .status{
        width: 23%;
    }
    
    .board_list .date {
        width: 17%;
    }
    .board_page{
        margin-bottom: 30px;
    }
    .board_page a {
        width: 30px;
        height: 30px;
    }
    
    .board_page a.bt {
        padding-top: 5px;
        font-size: 1rem;
        letter-spacing: -1px;
    }
    
    .board_page a.num {
        padding-top: 0.3rem;
        font-size: 1rem;
        
    }
    
    }