.endAply{
    background: linear-gradient(0deg, #E8E8E8, #E8E8E8), #FFFFFF;
    border-radius: 4px;
    padding: 3px 4px;
    color: #585757;   
}
.each_day{
    list-style: none;
    padding-left: 10px;
}

.waitAply{
    background: linear-gradient(0deg, rgba(0, 133, 255, 0.1), rgba(0, 133, 255, 0.1)), #FFFFFF;
    border-radius: 4px;
    padding: 3px 4px;
    color: #0085FF
    ;   
}
.schoolAply{
    background: linear-gradient(0deg, rgba(255, 150, 27, 0.1), rgba(255, 150, 27, 0.1)), #FFFFFF;
    border-radius: 4px;
    padding: 3px 4px;
    color: #FF9F2D;

}
.calendartable{
    width: 100%;
  }
  .calendar {
    width: 100%;
    margin: auto;
    font-size: 13px;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid black;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .calendar td {
    width: 164px;
    height: 105px;
    padding: 10px 0px 10px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    list-style: none;
    padding-left: 0px;
  }
  
  a {
    color: #aa2e99;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix {
    margin: 15px;
  }
  
  .form {
    margin: auto;
  }
  
  .form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
  }
  