
footer {
    padding: 55px 122px 78px 122px;
    color: #999999;
    font-size: 15px;
    background-color: #272626;
  }
  
  footer p span {
    display: inline-block;
    margin-left: 32px;
    transform: translateY(13%);
  }

.footer_image{
    width: 10%;
    vertical-align: middle;
}
.insta_image{
    float: right;
    width: 1.5%;
}

@media (max-width: 768px) {
    footer {
        padding: 20px 10px;
        color: #999999;
        background-color: #272626;
        font-size: 4px;
      }
      
      footer p span {
        display: block;
        font-size: 4px;
        margin-left: 1px;
      }
    .footer_image{
        width: 18%;
    }
    .insta_image{
        float: right;
        width: 5%;
    }
}