.navbars {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-left: 123px;

}

.navbar__logo {
    font-size: 28px;
}
.image{
    width: 15%;
}


.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu li {
    margin-top: 15px;
    padding: 8px 13px;
    color: #333333;
}
.navbar__menu li a{
    font-weight: 500;
    color:  #333333;
    font-size: 1vw;
}

.navbar__menu li:hover {
    border-radius: 5px;
}
.navbar__hr{
    border: 0;
    height: 2px;
    margin-top: 5px;
    size: 10px;
}
hr{
    border: 0;
    background-color:#E8E8E8;
    height: 2px;
    margin-top: 5px;
    size: 10px;
}
.navbar__toggleBtn {
    display: none;
}

@media (max-width: 1500px) {
    .image{
        width: 20%;
    }
    
    .navbar__menu li a{
        font-weight: 500;
        color:  #333333;
        font-size: 1.2vw;
    }
    div.navbar__logo > a{
        font-size: 1.5vw;
    }
}
/* 768 px 밑일때만  */
@media (max-width: 930px) {
    .navbars {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding : 10px 0px;
    }
    
    .navbar__logo {
        font-size: 18px;
        margin-left: 10px;
    }
    .image{
        width: 25%;
    }
    .navbar__menu li a{
        font-size: 1rem;
    }

    
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__toggleBtn {
        display: block;
        position: absolute;
        right : 20px;
        font-size: 18px;
        margin-top: 10px;
    color: #A2988F;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
        transition: 1s ease-out;
    }
}