@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
    font-family: 'Noto Sans KR';
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
}

.apply_div_grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
}