{% extends 'base.html' %}

{% block content %}
<div class="notice_title" style="margin:25px 0px;">
	<h1>단체 캠퍼스투어 신청관리(관리자)</h1>
</div>
<div class="container-fluid calendar_right" >
	<div class="clearfix">
		<a class="month_btn left" href="{% url 'manager:calendarAdmin' %}?{{ prev_month }}"> 이전 달 </a>
		<a class="month_btn " href="{% url 'manager:calendarAdmin' %}?{{ next_month }}"> 다음 달 </a>
	</div>
	<div class="calendartable">
		<form method="post" action="{% url 'manager:adminsave' %}" style="display: inline;">
			{% csrf_token %}
			{{ calendar }}
			<p>
				<input class="regular_btn"type="submit" value="신청가능 추가">
				<input type="submit" class="regular_btn" name="reset" value="신청가능 초기화">
			</p>
			<p>
				<input type="text" name="reason" placeholder="달력에 표시할 휴일 사유를 입력해주세요">
				<input type="submit" class="regular_btn" name="holiday" value="선택일 휴일 지정">
				<input type="submit" class="regular_btn" name="h_reset" value="휴일 초기화">
			</p>
		</form>
	</div>	
</div>
<div class="timetable">
	<div></div>	
</div>
<style>
.calendar_right{
    margin-bottom: 3em;
    padding: 0em 7em 3em 7em;
}
.month_btn{
    margin: 10px;
    display: inline-block;
    background: #DF633B;
    width: 6%;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    border: 1px solid #DF633B;
    border-radius: 8px;
    font-size: 16px;
    color: white;
}

.month_btn:hover{
    color: #DF633B;
    background: white;
}

</style>
{% endblock %}