{% extends 'base.html' %}

{% block content %}
<div class="notice_title">
    <h1>단체 캠퍼스투어(관리자)</h1>
</div>

{% if reservation.status == '1' %}
<div class="check" style="text-align: center; margin-top: 50px;">
    <div class="buttons">
        <div class="clearfix">
            <a class="regular_btn" href="{% url 'manager:calendarAdmin' %}"> 목록으로 </a>

            <a class="regular_btn" href="{% url 'manager:confirm' reservation_id=reservation.pk %}"> 검토하기 </a>
        </div>
    </div>
</div>
{% else %}


<div class="form_wrap">
    <p class="form_title">신청정보 확인</p>
    <div class="form_list">
        <form>
            {% csrf_token %}
            <div class="form_body">
                <div >
                    <span class="title">신청상태</span>
                    <span class="body">
                        <span>
                            {{ status }}
                        </span>
                    </span>
                </div>
                <hr>

                <div>
                    <span class="title">투어일시</span>
                    <span class="body">
                        <span>{{ reservation.date }}&nbsp;/&nbsp;{{reservation.time}}:00</span>
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">신청자</span>
                    <span class="body">
                        {{ reservation.name }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">전화번호</span>
                    <span class="body">
                        {{ reservation.phone }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">이메일</span>
                    <span class="body">
                        {{ reservation.email }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">학년</span>
                    <span class="body">
                        {{ grade }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">분류</span>
                    <span class="body">
                        {{ major }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">소속학교</span>
                    <span class="body">
                        {{reservation.school}}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">대형버스</span>
                    <span class="body">
                        {{ reservation.bus }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">투어 학생 수</span>
                    <span class="body">
                        {{ reservation.headcount }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">투어 학생 수</span>
                    <span class="body">
                        {{ reservation.headcount }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">투어 시간</span>
                    <span class="body">
                        {{ length}}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">투어 메모</span>
                    <span class="body">
                        {{ reservation.memo}}
                    </span>
                </div>
                <hr>
        </form>
    </div>

    
        
        <div class="form_list" style="margin-bottom: 12em;">
            <form method="post" action="{% url 'manager:confirm' reservation_id=reservation.pk %}">
                {% csrf_token %}
                <div class="form_body" style="margin-bottom: 50px;">
                    <div>
                        <span class="title">진행장소</span>
                        <span class="body">
                            {% if reservation.place.name %}
                            <input class="form_box" list="placelist" name="place" id="place" placeholder="{{ reservation.place.name }}">
                            {% else %}
                            <input class="form_box" list="placelist" name="place" id="place" placeholder="정각원 앞 백년비">
                            {% endif %}
                            <datalist id="placelist">
                            {% for p in places %}
                                {% if p.name == '정각원 앞 백년비' %}
                                <option value='{{ p.name }}' selected>{{ p.name }}</option>
                                {% else %}
                                <option value='{{ p.name }}'>{{ p.name }}</option>
                                {% endif %}
                            {% endfor %}
                                <option value='직접입력'>직접입력</option>
                            </datalist>
                        </span>
                    </div>

                    <div>
                        <span class="title">관리자메모</span>
                        <span class="body">
                            {% if reservation.admin_comment %}
                            <textarea name="comment">{{ reservation.admin_comment }}</textarea>
                            {% else %}
                            <textarea name="comment" placeholder="신청자가 볼 수 있는 코멘트입니다."></textarea>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <span class="buttons" style="float: left;">
                        <a class="regular_btn" href="{% url 'manager:calendarAdmin' %}"> 목록으로 </a>
                </span>
                <span style="float: right;">
                    {% if reservation.status == '3' %}
                    <input class="regular_btn" onclick="alert('수정 완료 됐습니다.')" type="submit" value="수정">
                    {% else %}
                    <input class="regular_btn" type="submit" value="승인">
                    {% endif %}
                </span>
            </form>
        </div>
{% endif %}

{% endblock %}