{% extends 'base.html' %}

{% block content %}
<div class="notice_title">
    <h1>정기 캠퍼스투어(관리자)</h1>
</div>
{% include 'shared/regular_head.html' %}

<div class="form_wrap" style="margin-bottom: 10em;">
    <p class="form_title">신청정보 확인</p>
    <div class="form_list">
        <form method="post" onsubmit="return realConf()" action="{% url 'manager:regular_status_change' reservation_id=reservation.pk %}">
            {% csrf_token %}
            <div class="form_body">
                <div >
                    <span class="title">신청구분</span>
                    <span class="body">
                        <span>
                            {{age}}
                        </span>
                    </span>
                </div>
                <hr>

                <!-- 14세 미만일대만 보호자 성명, 연락처 뜨게하기 -->
                {% if reservation.age == 'd' %}
                <div id="adult_name">
                    <span class="title">보호자 성명</span>
                    <span class="body">
                        {{ reservation.parent_name }}
                    </span>
                </div>

                <div id="adult_num">
                    <span class="title">보호자 연락처</span>
                    <span class="body">
                        {{ reservation.parent_phone }}
                    </span>
                </div>
                <hr id="adult_line"> 
                {% endif%}

                
                <div>
                    <span class="title">신청자 성명</span>
                    <span class="body">
                        {{ reservation.name }}
                    </span>
                </div>
    
                <div>
                    <span class="title" >신청자 연락처</span>
                    <span class="body">
                        {{ reservation.phone }}
                    </span>
                </div>

                <div>
                    <span class="title" required>신청자 이메일</span>
                    <span class="body">
                        {{ reservation.email }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">소속학교</span>
                    <span class="body">
                        {{reservation.school}}
                    </span>
                </div>

                <div>
                    <span class="title">학년</span>
                    <span class="body">
                        {{grade}}
                    </span>
                </div>
                <div>
                    <span class="title" >견학인원</span>
                    <span class="body">
                        {{ reservation.headcount}}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">견학일정</span>
                    <span class="body">
                        {{ reservation.date.date.month }}월 정기 캠퍼스투어 / {{ reservation.date }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">견학 동기</span>
                    <span class="body">
                        {{ reservation.motivation }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">요청사항</span>
                    <span class="body">
                        {{ reservation.request }}
                    </span>
                </div>
                <hr>  
                <div>
                    <span class="title">신청상태</span>
                    <span class="body">
                        {% if reservation.status == '1' %}
                        <input type="radio" id="status" name="status" value="1" checked>
                        {% else %}
                        <input type="radio" id="status" name="status" value="1">
                        {% endif %}
                        <label for="검토대기">검토대기</label>
                        
                        {% if reservation.status == '2' %}
                        <input type="radio" id="status" name="status" value="2" checked>
                        {% else %}
                        <input type="radio" id="status" name="status" value="2">
                        {% endif %}
                        <label for="승인">승인</label>
                        
                        {% if reservation.status == '3' %}
                        <input type="radio" id="status" name="status" value="3" checked>
                        {% else %}
                        <input type="radio" id="status" name="status" value="3">
                        {% endif %}
                        <label for="거부">거부</label>
                    </span>
                </div>
                <div>
                    <span class="title">진행장소</span>
                    <span class="body">
                        {% if reservation.place.name %}
                        <input class="form_box" list="placelist" name="place" id="place" placeholder="{{ reservation.place.name }}">
                        {% else %}
                        <input class="form_box" list="placelist" name="place" id="place" placeholder="팔정도 코끼리상 앞">
                        {% endif %}
                        <datalist id="placelist">
                        {% for p in places %}
                            {% if p.name == '팔정도 코끼리상 앞' %}
                            <option value='{{ p.name }}' selected>{{ p.name }}</option>
                            {% else %}
                            <option value='{{ p.name }}'>{{ p.name }}</option>
                            {% endif %}
                        {% endfor %}
                            <option value='직접입력'>직접입력</option>
                        </datalist>
                    </span>
                </div>
                <div>
                    <span class="title">관리자메모</span>
                    <span class="body">
                        {% if reservation.admin_comment %}
                        <textarea   name="comment" placeholder="{{ reservation.admin_comment }}">{{ reservation.admin_comment }}</textarea>
                        {% else %}
                        <textarea    name="comment" placeholder="신청자가 볼 수 있는 코멘트입니다."></textarea>
                        {% endif %}
                    </span>
                </div>
            </div>
            <hr>
            <span class="regular_btn_box" style="float: left;">
                <a class="regular_btn" href="{% url 'calender:regular_list' %}" style="text-align: center;">목록으로</a>
            </span>
            <span style="float: right;" >
                <button type="submit" class="regular_btn mo">저장</button>
            </span>
        </form>
    </div>


</div>
{% endblock %}