    {% load static %}
    <nav class="navbar"> 
        <div class="navbar__logo">
                <img src="{% static 'img/dongguk_logo.png' %}" alt="Dongguk logo" class="image">
            <a href="{% url 'calender:group_notice' %}"> | 캠퍼스투어 신청</a>
        </div>
        <ul class="navbar__menu">
            <li><a href="">Home</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Wedding</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Bookings</a></li>
        </ul>
        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>