{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="notice_title">
	<h1>단체 캠퍼스투어 신청</h1>
</div>


	<div class="container-fluid calendar_right">
		<div class="row" style="width: 100%;">
			<div class="col-8">
				<div>
					<a class="month_btn left" href="{% url 'calender:calendar' %}?{{ prev_month }}"> 이전 달 </a>
					<a class="month_btn " href="{% url 'calender:calendar' %}?{{ next_month }}"> 다음 달 </a>
                    <span class="cal_time right">오전 - 10:00</span>
                    <span class="cal_time right">오후 - 14:00</span>
				</div>
				{{ calendar }}	
			</div>
			<div class="col-4 calendar_left">
				<div>
					<img src="{% static 'img/step.png' %}" alt="apply" class="" style="width: 90%;">
				</div>
			</div>
		</div>

	
</div>
<style>

.calendar_right{
    margin-bottom: 10em;
    padding: 1em 7em 10em 7em;

}
.calendar_left{
    margin-top: 3.5em;
}
.cal_time{
    margin: 15px 10px;
    display: inline-block;
    background: linear-gradient(0deg, rgba(0, 133, 255, 0.1), rgba(0, 133, 255, 0.1)), #FFFFFF;
    padding: 3px 4px;
    width: 82px;
    height: 27px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #0085FF;
}
.month_btn{
    margin: 10px;
    display: inline-block;
    background: #DF633B;
    width: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    border: 1px solid #DF633B;
    border-radius: 8px;
    font-size: 16px;
    color: white;
}

.month_btn:hover{
    color: #DF633B;
    background: white;
}


.waitAply{
    background: linear-gradient(0deg, rgba(0, 133, 255, 0.1), rgba(0, 133, 255, 0.1)), #FFFFFF;
    border-radius: 4px;
    padding: 3px 4px;
    color: #0085FF;   
}
.schoolAply{
	
	background: linear-gradient(0deg, rgba(255, 150, 27, 0.1), rgba(255, 150, 27, 0.1)), #FFFFFF;
    border-radius: 4px;
    padding: 3px 4px;
    color: #FF9F2D;
}
a:hover{
	color: whitesmoke;
}
</style>
{% endblock %}

