{% extends 'calender/base.html' %}

{% block content %}
<div class="password">
    <h2>신청정보 확인</h2>
    <hr>
    <form method="post" action="{% url 'calender:pw_check' reservation_id=reservation_id %}">
        {% csrf_token %}
        <p>패스워드</p>
        <input type="password" name="pw"><p>* 패스워드는 '신청자 연락처 마지막 4자리 숫자'입니다</p>
        <br>
        <a class="btn btn-info" href="{% url 'calender:reservation_check' reservation_id=reservation_id %}"> 이전 </a>
        <p><input type="submit" value="확인">
    </form>
</div>
{% endblock %}