{% extends 'base.html' %}

{% block content %}
<div class="notice_title">
    <h1>단체 캠퍼스투어 신청</h1>
  </div>
  {% include 'shared/regular_head.html' %}
<div class="form_wrap">
    <p class="form_title">신청정보 확인</p>
    <div class="form_list">
        <form method="post" action="{% url 'calender:pw_check' reservation_id=reservation_id %}">
            {% csrf_token %}
            <div class="form_body">
                <div >
                    <span class="title">패스워드</span>
                    <span class="body">
                        <span>
                            <input type="password" class="form_box"name="pw" maxlength="4">
                            <high style="color: #DF633B;">&nbsp;&nbsp; * 패스워드는 '신청자 연락처 마지막 4자리 숫자'입니다</high>

                        </span>
                    </span>
                </div>
                <div class="regular_btn_box" style="text-align: left;">
                    <a class="regular_btn" href="{% url 'calender:reservation_check' reservation_id=reservation_id  %}" style="text-align: center;">뒤로</a>
                    <button class="regular_btn" type="submit"> 확인 </button>
                </div>  
            </div>
        </form>
    </div>
</div>
{% endblock %}