{% extends 'base.html' %}

{% block content %}
<div class="notice_title">
    <h1>정기 캠퍼스투어 신청</h1>
</div>
{% include 'shared/regular_head.html' %}

<div class="form_wrap" style="margin-bottom: 10em;">
    <p class="form_title">신청정보 확인</p>
    <div class="form_list">
        <form>
            {% csrf_token %}
            <div class="form_body">

                <div >
                    <span class="title">신청상태</span>
                    <span class="body">
                        <span>
                            {% if reservation.status == '1' %}
                                <wait style="color: #999999;">검토중</wait>
                            {% elif reservation.status == '2'%} 
                                <high style="color: #DF633B;">승인완료</high>
                            {% elif reservation.status == '3'%}
                                <high style="color: #DF633B;">승인거부(재확인 필요)</high>
                            {% endif %}
                        </span>
                    </span>
                </div>

                <div >
                    <span class="title">신청구분</span>
                    <span class="body">
                        <span>
                            {{age}}
                        </span>
                    </span>
                </div>
                <hr>

                <!-- 14세 미만일대만 보호자 성명, 연락처 뜨게하기 -->
                {% if reservation.age == 'd' %}
                <div id="adult_name">
                    <span class="title">보호자 성명</span>
                    <span class="body">
                        {{ reservation.parent_name }}
                    </span>
                </div>

                <div id="adult_num">
                    <span class="title">보호자 연락처</span>
                    <span class="body">
                        {{ reservation.parent_phone }}
                    </span>
                </div>
                <hr id="adult_line"> 
                {% endif%}

                
                <div>
                    <span class="title">신청자 성명</span>
                    <span class="body">
                        {{ reservation.name }}
                    </span>
                </div>
    
                <div>
                    <span class="title" >신청자 연락처</span>
                    <span class="body">
                        {{ reservation.phone }}
                    </span>
                </div>

                <div>
                    <span class="title" required>신청자 이메일</span>
                    <span class="body">
                        {{ reservation.email }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">소속학교</span>
                    <span class="body">
                        {{reservation.school}}
                    </span>
                </div>

                <div>
                    <span class="title">학년</span>
                    <span class="body">
                        {{grade}}
                    </span>
                </div>
                <div>
                    <span class="title" >견학인원</span>
                    <span class="body">
                        {{ reservation.headcount}}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">견학일정</span>
                    <span class="body">
                        {{ reservation.date.date.month }}월 정기 캠퍼스투어 / {{ reservation.date }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">견학 동기</span>
                    <span class="body">
                        {{ reservation.motivation }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">요청사항</span>
                    <span class="body">
                        {{ reservation.request }}
                    </span>
                </div>
                <hr>  
                {% if reservation.status == '2' %} 
                <div>
                    <span class="title">진행장소</span>
                    <span class="body">
                        {{ reservation.place.name }}
                    </span>
                </div>
                <hr>
                {% endif %}    
                {% if reservation.status == '2' or reservation.status == '3' %}
                <div>
                    <span class="title">관리자메모</span>
                    <span class="body">
                        {{ reservation.admin_comment }}
                    </span>
                </div>
                <hr>            
                {% endif %}          
        </form>
    </div>
        <span class="regular_btn_box">
            <form method="post" onsubmit="return realDel()" action="{% url 'calender:regular_delete' reservation_id=reservation.pk %}">
                {% csrf_token %}
                <span style="float: left;">
                    <a class="regular_btn" href="{% url 'calender:regular_list' %}">목록으로</a>
                </span>
                <span style="float: right;">
                    <a class="regular_btn" href="{% url 'calender:regular_update' reservation_id=reservation.pk %}">수정하기</a>
                    <button type="submit" class="regular_btn">삭제하기</button>        
                </span>                
            </form>
        </span>
    


</div>
{% endblock %}