{% extends 'base.html' %}

{% block content %}
<div class="notice_title">
    <h1>정기 캠퍼스투어 신청</h1>
</div>
<div class="regular_form_info">
    <p class="title">캠퍼스투어 주의사항</p>

        <span>1. 사전 연락 없이 견학 당일 신청인원을 10명 이상 증원하는 경우, 견학 예정시간을 임의로 변경하는 경우 추후 견학 신청에 불이익을 받으실 수 있습니다.<br></spin>
        <span>2. 캠퍼스투어 진행 인원이 많지 않으므로, 학생들의 즐거운 견학을 위해 함께 방문하시는 인솔자 선생님들께서 적극적으로 인솔해주시기 바랍니다.<br></span>
        <span>3. 재학생들의 면학 분위기 조성을 위해, 동국대학교 홍보대사 ‘동감’의 인솔 하에 캠퍼스 투어가 진행되는 장소 외에는 견학이 불가함을 양해바랍니다.</span>
</div>

<div class="form_wrap">
    <p class="form_title">신청서 작성</p>
    <div class="form_list">
        <form method="post">
            {% csrf_token %}
            <div class="form_body">


                {% if state == 0 %}            
                
                <div>
                    <span class="title">구분*</span>
                    <span class="body">
                        <input type="radio" name="age" value="u"/>14세이상
                        <input type="radio" name="age" value="d"/>14세미만
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">패스워드</span>
                    <span class="body" style="color: #DF633B;">
                        *패스워드는 '신청자 연락처 마지막 4자리 숫자'입니다
                    </span>
                </div>
                <hr>
                <!-- 14세 미만일대만 보호자 성명, 연락처 뜨게하기 -->
                <div id="adult">
                    <span class="title">보호자 성명*</span>
                    <span class="body">
                        <input type="text" name="parent_name">
                    </span>
                </div>

                <div id="adult">
                    <span class="title">보호자 연락처*</span>
                    <span class="body">
                        <input type="text" name="parent_phone"></p>
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">신청자 성명*</span>
                    <span class="body">
                        <input type="text" name="name">
                    </span>
                </div>
    
                <div>
                    <span class="title">신청자 연락처*</span>
                    <span class="body">
                        <input type="text" name="phone">
                    </span>
                </div>

                <div>
                    <span class="title">신청자 이메일*</span>
                    <span class="body">
                        <input type="text" name="email_front">
                        @ 
                            <input list="email_list" id="email_back" name="email_back"/>
                            <datalist id="email_list">
                                <option value="naver.com">naver.com</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="daum.net">daum.net</option>
                                <option value="hanmail.net">hanmail.net</option>
                                <option value="직접입력">직접입력</option>
                            </datalist>
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">소속학교</span>
                    <span class="body">
                        <input type="text" name="school">
                    </span>
                </div>

                <div>
                    <span class="title">학년</span>
                    <span class="body">
                        <select name="grade">
                            <option value="" disabled selected>학년선택</option>
                            <option value="1">1학년</option>
                            <option value="2">2학년</option>
                            <option value="3">3학년</option>
                            <option value="n">기타</option>
                        </select>
                    </span>
                </div>
                <div>
                    <span class="title">견학인원*</span>
                    <span class="body">
                        <input type="number" name="headcount">&nbsp;명
                    
                    </span>
                    <span style="color: #DF633B;">
                        &nbsp;&nbsp;* 10명 이상 100명 이하만 신청 가능합니다
                    </span>
                </div>
                <hr>
                
                <div>
                    <span class="title">견학일정*</span>
                    <span class="body">
                        <select name="date" id="date" required>
                            <option value="" disabled>캠퍼스 투어 일정 선택</option>
                            {% for d in dates %}
                            <option value="{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}" >{{ d }}</option>
                            {% endfor %} 
                        </select>
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">견학 동기</span>
                    <span class="body">
                        <textarea name="motivation" id="" cols="110" rows="7"></textarea>
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">요청사항</span>
                    <span class="body">
                        <textarea name="request" id="" cols="110" rows="7"></textarea>
                    </span>
                </div>
                <hr>
            {% else %}
                <p>구분 : 
                    {% if reservation.age == "u" %}
                    <input type="radio" name="age" value="u" checked/>14세이상
                    {% else%}
                    <input type="radio" name="age" value="u"/>14세이상
                    {% endif %}
                    {% if reservation.age == "d" %}
                    <input type="radio" name="age" value="d" checked/>14세미만
                    {% else %}
                    <input type="radio" name="age" value="d"/>14세미만
                    {% endif %}
                </p>
                <p>패스워드 : </p>
                <p style="color: #DF633B;">*패스워드는 '신청자 연락처 마지막 4자리 숫자'입니다</p>
                
                <p>보호자 성명 : <input type="text" name="parent_name" value="{{ reservation.parent_name }}"></p>
                <p>보호자 연락처 : <input type="text" name="parent_phone" value="{{ reservation.parent_phone }}"></p>
                <p>신청자 성명 : <input type="text" name="name" value="{{ reservation.name }}"></p>
                <p>신청자 연락처 : <input type="text" name="phone" value="{{ reservation.phone }}"></p>
                <p>신청자 이메일 : <input type="text" name="email_front" value="{{ email_front }}"> @ 
                    <input list="email_list" id="email_back" name="email_back" value="{{ email_back }}"/>
                    <datalist id="email_list">
                        <option value="naver.com">naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="hanmail.net">hanmail.net</option>
                        <option value="직접입력">직접입력</option>
                    </datalist>
                </p>
                <p>소속학교 : <input type="text" name="school" value="{{ reservation.school }}"></p>
                <p>학년 : <select name="grade">
                    <option value="" disabled selected>학년선택</option>
                    {% if reservation.grade == '1' %}
                    <option value="1" selected>1학년</option>
                    {% else %}
                    <option value="1">1학년</option>
                    {% endif %}

                    {% if reservation.grade == '2' %}
                    <option value="2" selected>2학년</option>
                    {% else %}
                    <option value="2">2학년</option>
                    {% endif %}

                    {% if reservation.grade == '3' %}
                    <option value="3" selected>3학년</option>
                    {% else %}
                    <option value="3">3학년</option>
                    {% endif %}

                    {% if reservation.grade == 'n' %}
                    <option value="n" selected>기타</option>
                    {% else %}
                    <option value="n">기타</option>
                    {% endif %}
                </select></p>
                <p>견학인원 : <input type="number" name="headcount" value="{{ reservation.headcount }}">명</p>
                <p>* 10명 이상 100명 이하만 신청 가능합니다</p>
                <p>견학일정 : <select name="date" id="date" required>
                    <option value="" disabled>캠퍼스 투어 일정 선택</option>
                    {% for d in dates %}
                    {% if reservation.date == d %}
                    <option value="{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}" selected>{{ d }}</option>
                    {% else %}
                    <option value="{{ d.date.year }}-{{ d.date.month }}-{{ d.date.day }}" >{{ d }}</option>
                    {% endif %}
                    {% endfor %}
                    
                </select></p>
                <p>견학 동기 : <input type="textarea" name="motivation" value="{{ reservation.motivation }}"></p>
                <p>요청사항 : <input type="textarea" name="request" value="{{ reservation.request }}"></p>
            {% endif %}

            <div>
                <span class="title">동의사항*</span>
                <span class="body">
                    개인정보 수집 및 이용자 동의사항<br>
                    1. 수집목적 : 캠퍼스투어 신청에 대한 접수·진행 관련 고지사항 전달·원활한 의사소통 경로 확보<br>
                    2. 수집항목 : [신청인] 이름, 이메일, 소속학교(기관), 연락처<br>
                                            [보호자] 보호자 성명, 보호자 연락처<br>
                    <high style="color: #DF633B;">3. 보유 및 이용기간 : 게시 후 2년마다 일괄 삭제<br></high>
                    *   정보주체는 개인정보의 수집·이용목적에 대한 동의를 거부할 수 있으며, 동의거부 시 캠퍼스투어 접수 및 진행에 어려움이 있을 수 있습니다<br>
                    *   수집되는 정보는 캠퍼스투어 신청 확인 외에 다른 목적으로 사용되지 않습니다<br>
                </span>
                <input type="radio" name="agree" value="on"/>동의
                <input type="radio" name="agree" value="off"/>동의하지않음
            </div>

            <div class="regular_btn_box">
                <a class="regular_btn" href="{% url 'calender:regular_list' %}">이전</a>
                <button class="regular_btn" type="submit"> 신청완료 </button>
            </div>
            
        </form>
    </div>
</div>


{% endblock %}