{% extends 'base.html' %}

{% block content %}
<div class="notice_title">
    <h1>정기 캠퍼스투어 신청</h1>
</div>
{% include 'shared/regular_head.html' %}

<div class="form_wrap">
    <p class="form_title">신청정보 확인</p>
    <div class="form_list">
        <form>
            {% csrf_token %}
            <div class="form_body">
                <div >
                    <span class="title">신청구분</span>
                    <span class="body">
                        <span>
                            {{age}}
                        </span>
                    </span>
                </div>
                <hr>

                <!-- 14세 미만일대만 보호자 성명, 연락처 뜨게하기 -->
                {% if age == "14세미만" %}
                <div id="adult_name" style="display: none;">
                    <span class="title">보호자 성명</span>
                    <span class="body">
                        {{ reservation.parent_name }}
                    </span>
                </div>

                <div id="adult_num" style="display: none;">
                    <span class="title">보호자 연락처</span>
                    <span class="body">
                        {{ reservation.parent_phone }}
                    </span>
                </div>
                <hr id="adult_line" style="display: none;"> 
                {% endif%}

                
                <div>
                    <span class="title">신청자 성명</span>
                    <span class="body">
                        {{ reservation.name }}
                    </span>
                </div>
    
                <div>
                    <span class="title" >신청자 연락처</span>
                    <span class="body">
                        {{ reservation.phone }}
                    </span>
                </div>

                <div>
                    <span class="title" required>신청자 이메일</span>
                    <span class="body">
                        {{ reservation.email }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">소속학교</span>
                    <span class="body">
                        {{reservation.school}}
                    </span>
                </div>

                <div>
                    <span class="title">학년</span>
                    <span class="body">
                        {{grade}}
                    </span>
                </div>
                <div>
                    <span class="title" >견학인원</span>
                    <span class="body">
                        {{ reservation.headcount}}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">견학일정</span>
                    <span class="body">
                        {{ reservation.date.date.month }}월 정기 캠퍼스투어 / {{ reservation.date }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">견학 동기</span>
                    <span class="body">
                        {{ reservation.motivation }}
                    </span>
                </div>
                <hr>
                <div>
                    <span class="title">요청사항</span>
                    <span class="body">
                        {{ reservation.request }}
                    </span>
                </div>
                <hr>            
        </form>
    </div>

    <div class="regular_btn_box" style="text-align: right;">
        <a class="regular_btn" href="{% url 'calender:regular_update' reservation_id=reservation.pk %}" style="text-align: center; width: 7%;">수정하기</a>
        <a class="regular_btn" href="{% url 'calender:regular_delete' reservation_id=reservation.pk %}" style="text-align: center; width: 7%;">삭제하기</a>
    </div>

    <div class="regular_btn_box" style="text-align: left;">
        <a class="regular_btn" href="{% url 'calender:regular_list' %}" style="text-align: center;">목록으로</a>
    </div>

</div>
{% endblock %}