{% extends 'base.html' %}

{% block content %}
<div class="board_title">
    <div class="notice_title">
        <h1>정기 캠퍼스투어 신청</h1>
    </div>
    <div class="regular_info">
        <p>
            <!-- [공지] 1월 정기 캠퍼스투어일은 18일 입니다. -->
            {% for d in tour_dates %}
            [공지] {{ d.date.month }}월 정기 캠퍼스투어일은 {{ d }} 입니다.
            {% endfor %}
        </p>
    </div>
</div>
<div class="password">
    <h2>신청정보 확인</h2>
    <hr>
    <form method="post" action="{% url 'calender:regular_pw' reservation_id=reservation_id %}">
        {% csrf_token %}
        <p>패스워드</p>
        <input type="password" name="pw"><p>* 패스워드는 '신청자 연락처 마지막 4자리 숫자'입니다</p>
        <br>
        <a class="btn btn-info" href="{% url 'calender:regular_list' %}"> 목록 </a>
        <p><input type="submit" value="확인">
    </form>
</div>
{% endblock %}