{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="regular_apply">
    <div class="board_wrap">
        <div class="board_title">
            <div class="notice_title">
                <h1>정기 캠퍼스투어 신청</h1>
            </div>
            <div class="regular_info">
                <p>
                    <!-- [공지] 1월 정기 캠퍼스투어일은 18일 입니다. -->
                    {% if now_sentence != '' %}
                    [공지] {{ now_sentence }}
                    {% endif %}
                    {% if next_sentence != ''%}
                    [공지] {{ next_sentence }}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="status">신청상태</div>
                    <div class="date">작성일</div>
                </div>
                {% for r in page_obj %}
                <div class="body">
                    <div class="num">{{ r.pk }}</div>
                    <div class="title"><a href="{% url 'calender:regular_pw' reservation_id=r.pk %}">{{ r }}</a></div>
                    <div class="status">
                        {% if r.status == '1' or r.status == '2' %}
                        <wait style="color: #999999;">검토중</wait>
                        {% elif r.status == '3' or r.status == '4' %}
                        <high style="color: #DF633B;">신청상태를 확인해주세요</high>
                        {% endif %}
                    </div>
                    <div class="date">{{ r.created_at }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="board_page">
                <a href="?page={{ page_obj.start_index }}" class="bt first"><<</a>
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="bt prev"><</a>
                {% else %}
                <a href="#" class="bt prev"><</a>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                {% if p == page_obj.number %}
                <a href="?page={{ p }}" class="num on">{{ p }}</a>
                {% else %}
                <a href="?page={{ p }}" class="num">{{ p }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="bt next">></a>
                {% else %}
                <a href="#" class="bt next">></a>
                {% endif %}
                <a href="?page={{ page_obj.end_index }} " class="bt last">>></a>
            </div>
            <a class="apply_btn" href="{% url 'calender:regular_form' %}">글쓰기</a>
        </div>
        
    </div>
    
</div>
{% endblock %}